extends layout

block content
  span(data-absences=JSON.stringify(absences))

  h1 Absence
  ul
    each absence in absences
      li #{absence.name} - #{absence.duration} days

  script(src='/javascripts/index.js')
